:global(.ui) {
    :local(.comment) {
        overflow: auto;
    }
}
:global(.ui.basic.label):local(.toolbarBtn) {
    border: none
}
.cross {
    position: absolute;
    top: 12px;
    right: 12px;
    width: 10px;
    height: 10px;

    cursor: pointer;
}

input {
    display: block;
    padding: 5px 0;
}
input[disabled]{
    border: none;
    box-shadow: none;
}
